/* Google fonts setup */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.section-description {
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFF;
    padding: 20px;
    border: 0;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles start */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 40px 230px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    gap: 50px;

}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #424242;
}

/* banner starts */
.banner h1 {
    font-size: 4rem;
    font-weight: 700;
}

.banner-content {
    text-align: center;
}

.banner img {
    width: 100%;
    margin-top: 40px;
}

/*  team section starts */
.teams-container {
    display: flex;
    align-items: center;
    padding: 0 60px;
    margin: 60px 0;
}

.team-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding: 0 70px;
}

.quick-list {
    font-weight: 500;
}

.features {
    color: #FF900E;
    font-weight: 700;
}
.fact-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    gap: 1.2rem;

}

.card {
  
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
    

}
.card-stats{
    font-size: 2.4rem;
    font-weight: 600;
}
.card-description{
    font-weight: 600;
    
}


/* responsive styles */
/* for small devices */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    .team-content,
    .teams-container {
        padding: 0;
    }

    nav,
    ul,
    .teams-container, .fact-card-container{
        flex-direction: column;
    }

    .team-images-container {
        grid-template-columns: 1fr;
    }


}

@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    ul,
    .teams-container {
        flex-direction: column;
    }

    header {
        padding: 20px;
    }



}